<%
=begin%>
 <%= render "shared/header" %>  
<%
=end%>
<div class="wrapper">
  <div class= "side-bar">
    <div class= "side-header">
      <% if user_signed_in? %>
        <div class="user-name">
        <%= link_to  edit_user_path(current_user) do  %>
          <%= current_user.nickname%>
        <% end %>
        </div>
        <div class="room-create">
        <%#チャットの参加有無による条件分岐%>
          <% unless @user_places.where(user_id: current_user, place_id: @place.id).exists? %>
            <%= form_with model: [@user_place, @place], url: user_places_path, method: :post, local: true do |f| %>
              <input name="user_place[user_id][]" type="hidden" value=<%=current_user.id%>>
              <input name="user_place[place_id][]" type="hidden" value=<%=@place.id%>>
              <div class="join">
                <%= f.submit "チャットに参加する" %>
              </div>
            <% end %>
          <% else %>
            <p class="sanka">参加中</p>
          <% end %>
        <%#チャットの参加有無による条件分岐%>
        </div>
      <% else %>
        <div class="new-session">
          <%= link_to "ログインしてチャットに参加しよう", new_user_session_path %>
        </div>
      <% end %>
    </div>
    <div class= "place-contents">
      <div class="place-content">
        <div class="place-content-list">
            <p>練習場所の住所 :  </p><p class= "place-info"><%= @place.address%></p>
        </div>
        <div class="place-content-list">
            <p>金額 : </p><p class= "place-info"><%= @place.price%></p>
        </div>
        <div class="place-content-list">
            <p>備考 : </p><p class= "place-info"><%= @place.remark%></p>
        </div>
        <div class="place-content-list">
            <p>このチャットの参加人数 : </p><p class= "place-info"><%= "#{@user_places.where(place_id: @place.id).count}人"%></p>
        </div>
      </div>
    </div>
  </div>

  <div class = "main-chat">
    <div class="main-header">
      <div class="title">
        <%= @place.name%>
      </div>
      <div class="exit">
        <%#チャットに参加している場合のみ表示する%>
        <% if @user_places.where(user_id: current_user, place_id: @place.id).exists? %>
          <%#最初にこの練習場所を登録した人のみが編集と削除ができる%>
          <% if @user_places.where(place_id: @place.id).order(created_at: :asc).first == @user_places.where(user_id: current_user, place_id: @place.id).first %>
            <%= link_to "ここの情報を編集する", edit_place_path(@place), method: :get %>
            <%= link_to "削除する", place_path(@place), method: :delete  %>
          <% end %>
          <%#最初にこの練習場所を登録した人のみが編集と削除ができる%>
        <% end %>
        <%#チャットに参加している場合のみ表示する%>
        <%= link_to "トップページへ戻る" ,root_path %>
      </div>
    </div>
    <div class="main-main">
      <div id='messages' class="message-contents">
        <% @messages.reverse_each do |message| %>
          <div class="message-content">
            <div class="message-name">
              <p><%= message.user.nickname %></p>
            </div>
            <div class="created-at">
              <p><%= message.created_at %></p>
            </div>
          </div>
          <div class="lower-message">
            <div class="text">
              <p><%= message.text %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% if @user_places.where(user_id: current_user, place_id: @place.id).exists? %>
      <%= form_with model: [@place, @message], html: {class: "form"} do |f| %>
          <%= f.text_field :text, class: 'message' %>
          <%= f.submit '送信', class: 'commit' %>
      <% end %>
    <% end %>
  </div>
</div>