<div class= "mypage-left-contents">
  <%# ダンスレベルに応じてユーザーアイコンのフレーム変更 %>
  
  <% case @user.dance_level.id %>
  <% when 1 %>
    <div class= "user-image">
  <% when 2 %>
    <div class= "user-image2">
  <% when 3 %>
    <div class= "user-image3">
  <% when 4 %>
    <div class= "user-image4">
  <% when 5 %>
    <div class= "user-image5">
  <% when 6 %>
    <div class= "user-image6">
  <% else %>
    <div class= "user-image">
  <% end %>
      <% if @user.image.attached?%>
        <%= image_tag @user.image,class:"user-icon" %>
      <% else %>
          <%= image_tag ("dancer.png") ,class:"user-icon" %>
      <% end %>
    </div>
  <%# ダンスレベルに応じてユーザーアイコンのフレーム変更 %>
  <div class= "user-profile">
    <div class= "user-nickname">
      <%= link_to @user.nickname, user_path(id: @user.id), method: :get%>
    </div>
    <div class= "user-dance-level">
      <%= @user.dance_level.name %>
    </div>
    <div class= "user-remark">
      <% if @user.remark.blank? %>
        自己紹介は記入していません
      <% else %>
        <%= @user.remark %>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <% if current_user.id == @user.id  %>
        <div class= "user-crew">
          <%= link_to "メッセージを確認する"%>
        </div>
        <div class= "user-edit">
          <%= link_to "プロフィールを編集する", edit_user_path(id: current_user.id), method: :get%>
        </div>
      <% else %>
        <div class= "user-crew">
          <%= link_to "ダイレクトメッセージ"%>
        </div>
      <% end %>
      <% if current_user != @user %>
        <div class= "user-relationship">
          <% if @user.followed_by?(current_user) %>
            <%=link_to "フォロー済み   ", user_relationships_path(@user.id), method: :delete, data: {confirm: "フォローを解除してもよろしいですか？"} %>
          <% else %>
            <%=link_to "フォローする", user_relationships_path(@user.id), method: :post %>
          <% end %>
        </div>
      <% end %>
      <div class= "user-about">
        <%=link_to followers_user_path(@user.id), method: :get do%>
          <%= "#{@follower}" %>フォロー中
        <% end %>
        <%=link_to follows_user_path(@user.id), method: :get do%>
          <%= "#{@follow}" %>フォロワー
        <% end %>
      </div>
    <% end %>
  </div>
</div>