<%= render "shared/header" %>
<div class="mypage-wrapper">
  <%= render "mypage_side_bar" %>
  <div class = "mypage-right-contents">
    <div class="user-places">
      <div class="user-places-title">
        フォロワー
      </div>
      <div class="user-follow">
        <% @users.each do |user| %>
          <div class="mypage-follow">
            <div class="mypage-follow-left">
              <% case user.dance_level.id %>
              <% when 1 %>
                <div class= "follow-item-box">
              <% when 2 %>
                <div class= "follow-item-box2">
              <% when 3 %>
                <div class= "follow-item-box3">
              <% when 4 %>
                <div class= "follow-item-box4">
              <% when 5 %>
                <div class= "follow-item-box5">
              <% when 6 %>
                <div class= "follow-item-box6">
              <% end %>
                <% if user.image.attached?%>
                  <%= link_to user_path(user.id) do%>
                    <%= image_tag user.image,class:"follow-img" %>
                  <% end %>
                <% else %>
                  <%= link_to user_path(user.id) do%>
                    <%= image_tag ("dancer.png") ,class:"follow-img" %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="mypage-follow-right">
                <%= link_to user.nickname, user_path(user.id) %>
                <% unless current_user.followered_by?(user) || user == current_user %>
                  <%=link_to "フォローする", user_relationships_path(user.id), method: :post %>
                <% end %>
                <%= user.remark %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %> 