<%= render "shared/header" %>
<div class="mypage-wrapper">
  <div class= "mypage-left-contents">
    <div class= "user-image">
      <% if @user.image.attached?%>
        <%= image_tag @user.image,class:"user-icon" %>
      <% else %>
          <%= image_tag ("dancer.png") ,class:"user-icon" %>
      <% end %>
    </div>
    <div class= "user-profile">
      <div class= "user-nickname">
        <%= link_to @user.nickname, user_path(id: @user.id), method: :get%>
      </div>
      <div class= "user-remark">
        <%= @user.remark %>
      </div>
      <% if current_user.id == @user.id  %>
        <div class= "user-crew">
          <%= link_to "メッセージを確認する"%>
        </div>
        <div class= "user-edit">
          <%= link_to "プロフィールを編集する", edit_user_path(id: current_user.id), method: :get%>
        </div>
      <% else %>
        <div class= "user-crew">
          <%= link_to "ダイレクトメッセージ"%>
        </div>
      <% end %>
      <% if current_user != @user %>
        <div class= "user-relationship">
          <% if @user.followed_by?(current_user) %>
            <%=link_to "フォロー済み   ", user_relationships_path(@user.id), method: :delete %>
          <% else %>
            <%=link_to "フォローする", user_relationships_path(@user.id), method: :post %>
          <% end %>
        </div>
      <% end %>
      <div class= "user-about">
        <%=link_to followers_user_path(@user.id), method: :get do%>
          <%= "#{@follower}" %>フォロー中
        <% end %>
        <%=link_to follows_user_path(@user.id), method: :get do%>
          <%= "#{@follow}" %>フォロワー
        <% end %>
      </div>
    </div>
  </div>
  <div class = "mypage-right-contents">
    <div class="user-places">
      <div class="user-places-title">
        良く使う練習場所
      </div>
      <div class="user-place">
        <% if @user_places.where(user_id: @user.id).count == 0 %>
          <% if current_user == @user %>
            <div class="mypage-main-content-right-lower">
              <div class="lower-explain-title">
              自分だけの新しい練習場所を共有しよう
              </div>
                <%= link_to "新規練習場所を作成する", new_place_path, method: :get, class:"new-place"%>
            </div>
            <div class="mypage-main-content-right-lower">
              <div class="lower-explain-title">
              練習場所のチャットに参加してみよう
              </div>
                <%= link_to "トップページへ", root_path, method: :get, class:"new-place"%>
            </div>
          <% else%>
            <div class="mypage-main-content-right-lower">
              <div class="mypage-lower-explain-title">
                このユーザーが良く使う練習場所はまだありません
              </div>
            </div>
          <% end %>
        <% end %>
        <% @user_places.each do |user_place|%>
          <% if user_place.user_id == @user.id%>
            <div class="mypage-place-show" id="placeShow">
              <div class="mypage-place-show-left">
                <% if user_place.place.image.attached?%>
                  <div class="mypage-item-box">
                    <%= image_tag user_place.place.image ,class:"item-box-img" %>
                  </div>
                <% else %>
                  <div class="mypage-item-box">
                    <%= image_tag ("default_place.png") ,class:"item-box-img" %>
                  </div>
                <% end %>
                <div class="mypage-place-content-list">
                  <p>チャット参加人数：</p>
                  <p class= "place-info"><%= "#{@user_places.where(place_id: user_place.place.id).count}人"%></p>
                </div>
                <%= link_to "チャットページへ", new_place_message_path(user_place.place) ,class:"mypage-new-place" %>
              </div>
              <div class="mypage-place-show-right">
                <table class="mypage-detail-table">
                  <tbody>
                    <tr>
                      <th class="detail-item">場所名</th>
                      <td class="detail-value"><%= user_place.place.name %></td>
                    </tr>
                    <tr>
                      <th class="detail-item">住所</th>
                      <td class="detail-value"><%= user_place.place.address %></td>
                    </tr>
                    <tr>
                      <th class="detail-item">金額</th>
                      <td class="detail-value"><%= user_place.place.price %></td>
                    </tr>
                    <tr>
                      <th class="detail-item">url</th>
                      <td class="detail-value"><% unless user_place.place.url == nil%><%= link_to "施設情報はこちら", user_place.place.url %><% end %></td>

                    </tr>
                    <tr>
                      <th class="detail-item-remark">備考</th>
                      <td class="mypage-detail-value-remark"><%= user_place.place.remark %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %> 
