<header>
  <div class="header-contents">
    <div class="header-logo">
      <div class="header-title">
        <%= link_to "Breakin' Community", root_path, method: :get %>
      </div>
    </div>
    <div class="header-container">
      <div class="header-container-contents">
        <ul>
          <% if user_signed_in? %>
          <div class="header-list ">
            <%= link_to current_user.nickname, user_path(id: current_user.id), method: :get %>
          </div>
          <div class="header-list">
            <%= link_to  "ログアウト",  destroy_user_session_path, method: :delete %>
          </div>
          <% else %>
          <div class="header-list">
            <%= link_to "ログイン", new_user_session_path, method: :get %>
          </div>
          <div class="header-list">
            <%= link_to users_guest_sign_in_path, method: :post  do %>
              ゲスト<br class="br">ログイン
            <% end %>
          </div>
          <% end %>
        </ul>          
      </div>
    </div>
  </div>
</header>
<% if flash[:notice] || flash[:alert]%>
<div class="notice">
  <%= flash[:notice] %>
</div>
<div class="alert">
  <%= flash[:alert] %>
</div>
<% end %>