<% @places.each do |place|%>
  <div class="hidden place-show" id="placeShow">
    <div class="mypage-place-show-left">
      <% if place.image.attached?%>
        <div class="toppage-item-box">
          <%= image_tag place.image ,class:"item-box-img" %>
        </div>
      <% else %>
        <div class="toppage-item-box">
          <%= image_tag ("default_place.png") ,class:"item-box-img" %>
        </div>
      <% end %>
        <div class="mypage-place-content-list">
          <p>チャット<br class="br">参加人数：</p>
          <p class= "place-info"><%= "#{@user_places.where(place_id: place.id).count}人"%></p>
        </div>
        <%= link_to "チャットページへ", new_place_message_path(place) ,class:"mypage-new-place" %>
    </div>
    <div class="place-show-right">
      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-item">場所名</th>
            <td class="detail-value"><%= place.name %></td>
          </tr>
          <tr>
            <th class="detail-item">住所</th>
            <td class="detail-value"><%= place.address %></td>
          </tr>
          <tr>
            <th class="detail-item">金額</th>
            <td class="detail-value"><%= place.price %></td>
          </tr>
          <tr>
            <th class="detail-item">url</th>
            <td class="detail-value-url"><% unless place.url == nil%><%= link_to place.url, place.url %><% end %></td>
          </tr>
          <tr>
            <th class="detail-item-remark">備考</th>
            <td class="detail-value-remark"><%= place.remark %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>