<%= render "shared/header" %> 
  <div class="main">
    <div class="main-contents-left">
      <div class="place">練習場所一覧</div>
      <div id="target"></div>
      <div class= "search">
        <input type="text" id="address">
        <p id="search">Search</p>
      </div>
      <% @places.each do |place|%>
      <div class= "practicePlace hidden"><%= place.address%></div>
      <div class= "practiceName hidden"></div>
      <div class= "practiceChat hidden">
        <%= link_to new_place_message_path(place.id) , method: :get do %>
          <%= "#{place.name}のチャットページへ" %>
        <% end %>
      </div>
      <% end %>
      <div class="direction">
        <div class="sample btn" ><span class="sample">北海道</span>方面はこちら</div>
        <div class="sample btn" ><span class="sample">仙台</span>方面はこちら</div>
        <div class="sample btn" ><span class="sample">東京</span>方面はこちら</div>
        <div class="sample btn"><span >大阪</span>方面はこちら</div>
        <div class="sample btn"><span class="sample">九州</span>方面はこちら</div>
      </div>
    </div>
    <div class="main-contents-right">
      <div class="main-content-right-upper">
        <div class="upper-explain-title">
        ■まだ知らない練習場所を見つける
        </div>
        <div class="explain-content">
        マーカーをクリックして詳細情報を確認できます
        </div>
        <div class="explain-content">
        お気に入りの練習場所を見つけよう
        </div>
      </div>
      <%#マーカークリックした場所の情報#%>
      <div class="main-content-right-middle ">
        <% @places.each do |place|%>
          <div class="hidden place-show" id="placeShow">
            <div class="place-show-left">
              <% if place.image.attached?%>
                <div class="item-box">
                  <%= image_tag place.image ,class:"item-box-img" %>
                </div>
              <% else %>
                <div class="item-box">
                  <%= image_tag ("default_place.png") ,class:"item-box-img" %>
                </div>
              <% end %>
            </div>
            <div class="place-show-right">
              <table class="detail-table">
                <tbody>
                  <tr>
                    <th class="detail-item">場所名</th>
                    <td class="detail-value"><%= place.name %></td>
                  </tr>
                  <tr>
                    <th class="detail-item">住所</th>
                    <td class="detail-value"><%= place.address %></td>
                  </tr>
                  <tr>
                    <th class="detail-item">金額</th>
                    <td class="detail-value"><%= place.price %></td>
                  </tr>
                  <tr>
                    <th class="detail-item-remark">備考</th>
                    <td class="detail-value-remark"><%= place.remark %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
      <%#マーカークリックした場所の情報#%>

      <div class="main-content-right-lower">
        <div class="lower-explain-title">
        ■新しい練習場所を共有する
        </div>
          <%= link_to "新規練習場所を作成する", new_place_path, method: :get, class:"new-place"%>
      </div>
    </div>
  </div>
<%= render "shared/footer" %> 
