  <header>
    <header-contents>
      <header-logo>
        <div class="header-title">Maro's Footwork</div>
      </header-logo>
      <header-container>
        <header-container-contents>
          <ul>
            <% if user_signed_in? %>
            <%= link_to current_user.nickname, edit_user_path(id: current_user.id), method: :get %>
            <%= link_to  "ログアウト",  destroy_user_session_path, method: :delete %>
            <% else %>
            <%= link_to "ログイン", new_user_session_path, method: :get %>
            <% end %>
            <a href="about.html">
              <li>about</li>
            </a>
            <a href="works.html">
              <li>works</li>
            </a>
            <a href="contact.html">
              <li>contact</li>
            </a>
          </ul>          
        </header-container-contents>
      </header-container>
    </header-contents>
  </header>
  <main>
    <div class="main-contents">
      <div class="place">練習場所一覧</div>
      <div id="target"></div>
      <form>
        <input type="text" id="address">
        <button id="search">Search</button>
        <div id= about class= "hidden">
        <%= link_to current_user.nickname, edit_user_path(id: current_user.id), method: :get %>
        </div>
      </form>
      <div>
      <%= link_to "新規練習場所を作成する", new_place_path, method: :get%>
      </div>
      <% @places.each do |place|%>
      <div class= "practicePlace hidden"><%= place.address%></div>
      <div class= "practiceName hidden">
        <%= link_to place_path(place.id), method: :get do%>
          <%= place.name%></div>
        <% end %>
      <% end %>
      <div class="direction">
        <div class="sample btn" ><span class="sample">北海道</span>方面はこちら</div>
        <div class="sample btn" ><span class="sample">仙台</span>方面はこちら</div>
        <div class="sample btn" ><span class="sample">東京</span>方面はこちら</div>
        <div class="sample btn"><span >大阪</span>方面はこちら</div>
        <div class="sample btn"><span class="sample">九州</span>方面はこちら</div>
      </div>
    </div>
  </main>
  <footer>
    <div class="domain">(c)Maro</div>
  </footer>