<%= render "shared/header" %> 
<div class="new-contents">
  <div class="map-contents">
    <div class="content">
    <div class="place">マップにマーカーを立てて<br class="br">新しい練習場所を登録する</div>
      <div id="newTarget"></div><%#地図を表示%>
      <form class= "search">
        <input type="text" id="address">
        <input type=submit id="search" onClick="return false;" value="Search">
      </form>
    </div>
  </div>
  <div class="contents">
    <%= form_with model: @place, url: places_path, local: true do |f| %>
      <%= render 'error_messages', place: @place %>
      <div class="content">
        <div class="new-name">
          <div class="new-name-text">
            練習場所の名前
          </div>
          <div class="new-name-form">
            <%= f.text_area :name, placeholder:"（必須 )\n施設の名前を入力してください", maxlength:"15" %>
          </div>
        </div>
        <div class="new-address">
          <div class="new-address-text">
            練習場所の住所
          </div>
          <div class="new-address-form">
            <%= f.text_area :address, placeholder:"（必須 )\nGoogleMapをクリックしてみましょう", maxlength:"40" %>
          </div>
        </div>
        <div class="new-price">
          <div class="new-price-text">
            金額
          </div>
          <div class="new-price-form">
            <%= f.text_area :price, placeholder:"（必須 )\n例) 100円/1h\n例) 3000円/人数", maxlength:"50"  %>
          </div>
        </div>
        <div class="new-price">
          <div class="new-price-text">
            URL
          </div>
          <div class="new-price-form">
            <%= f.text_area :url, placeholder:"https://www.example.com", maxlength:"50"  %>
          </div>
        </div>
        <div class="new-remark">
          <div class="new-remark-text">
            備考欄
          </div>
          <div class="new-remark-form">
            <%= f.text_area :remark, placeholder:"よく練習している時間帯や施設の練習可能時間などの詳細などを記入ください", maxlength:"80" %>
          </div>
        </div>
        <div class="new-image">
          <div class="new-image-text">
            写真(練習風景など)
          </div>
          <div class="new-image-form">
            <%= f.file_field :image, class: 'image' %>
          </div>
        </div>
        <input name="place[user_ids][]" type="hidden" value=<%=current_user.id%>>
        <input name="place[lat]" type= "hidden" id="lat" >
        <input name="place[lng]" type= "hidden" id="lng" >
        <%= f.submit "新しい練習場所を登録する！" %>
        <%=link_to 'もどる', root_path%>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %> 