 <%= render "shared/header" %> 
<%= link_to "チャットページへ", new_place_message_path(@place.id), method: :get %>
<%= link_to "ここの情報を編集する", edit_place_path(@place.id), method: :get %>
<%= link_to "削除する", place_path, method: :delete  %>
<%= link_to "トップページへ戻る" ,root_path %>
<% if @place.image.attached?%>
  <%= image_tag @place.image ,class:"item-box-img" %>
<% else %>
  <%= image_tag ("default_place.png") ,class:"item-box-img" %>
<% end %>
<%= %>
<%= %>
<%= %>
<%= %>
<%= %>

<%
=begin%>
 <div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @item.image ,class:"item-box-img" %>
      <% if @item.order %>
        <div class='sold-out'>
          <span>Sold Out!!</span>
        </div>
      <% end %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥<%= @item.price %>
      </span>
      <span class="item-postage">
        (税込) 送料込み
      </span>
    </div> 
<%
=end%>

    <%
=begin%>
 <% if user_signed_in? && (current_user.id == @item.user_id ) %>
      <%= link_to '商品の編集', edit_item_path, method: :get, class: "item-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', item_path, method: :delete, class:'item-destroy' %>
    <% else %>
      <% unless @item.order %>
        <%= link_to '購入画面に進む', item_transactions_path(@item.id),  class:"item-red-btn"%>
      <% end %>
    <% end %> 
<%
=end%>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">練習場所名</th>
          <td class="detail-value"><%= @place.name %></td>
        </tr>
        <tr>
          <th class="detail-item">住所</th>
          <td class="detail-value"><%= @place.address %></td>
        </tr>
        <tr>
          <th class="detail-item">備考</th>
          <td class="detail-value"><%= @place.remark %></td>
        </tr>
        <tr>
          <th class="detail-item">１時間当たりの金額</th>
          <td class="detail-value"><%= @place.price %></td>
        </tr>
      </tbody>
    </table>
