<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>BreakinCommunity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=AIzaSyBua7jxSG1kERI9O98YrOUnYl_VwiUXF3o" async defer></script>
  </body>
</html>
